.bgc {
  background-color: #3366ff;
}
.mat-form-field-wrapper {
  padding-bottom: -0.65625em;
}

@import "global";

.component--dialog-box__custom-toolbar {
  &.mat-toolbar {
    height: 27px;
    background-color: #3366ff;
    padding: 0 0 0 12px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 550;
    .example-spacer {
      flex: 1 1 auto;
    }
  }
}

@mixin contact_list_design($icon_color: #000000) {
  .profile {
    background: rgba(196, 196, 196, 0.349);
    border-radius: 5px;
    position: relative;
    margin: 2px 5px;

    .remove-icon {
      padding-top: 7px;
      color: $icon_color;
      font-size: 19px;
      cursor: pointer;
    }

    .profile-pic {
      width: 27px;
      height: 27px;
      margin-right: 5px;
      padding: 0 5px;
    }

    .profile-info {
      color: $medium-text-color;
      padding: 5px;
      font-size: 10px;
      line-height: 1.3;
    }
  }
}

._container {
  .content {
    .content-body {
      margin: 10px;
      .adding-contact {
        max-height: 80px;
        overflow-y: auto;
        @include contact_list_design($icon_color: rgb(255, 19, 19));
      }
    }

    .contact-area {
      border: 1px solid rgba(154, 154, 154, 1);
      border-radius: 5px;
      padding: 10px;
      .contact-list {
        height: 265px;
        overflow-y: auto;
        @include contact_list_design($icon_color: rgb(13, 156, 0));
      }
    }
  }
}
.example-container {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

table {
}

.print {
  position: relative;
  top: 10px;
  cursor: pointer;
  right: 5px;
}
.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  max-width: 360px;
  text-align: center;
}

.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

.mat-column-UserName {
  border-right: 1px solid $secondary-color;
  text-align: center;
}
.mat-column-Age {
  border-right: 1px solid $secondary-color;
  text-align: center;
}
.mat-column-VolunteerStaff {
  border-right: 1px solid $secondary-color;
  text-align: center;
}
.mat-column-AuthorizedHeadoftheDepartment {
  border-right: 1px solid $secondary-color;
  text-align: center;
}
.mat-column-UserID {
  border-right: 1px solid $secondary-color;
  text-align: center;
}

.app-hint {
  background-color: #ffff00;
  color: #000000;
  padding: 3px;
  font-weight: 550;
  font-size: 12px;
}

.mat-paginator {
  background: unset;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  display: flex;
  box-sizing: border-box;
  padding: 0 0px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 37px;
}
.mat-column-details,
th,
td,
img {
  @apply h-10 w-10  mt-1 mr-3 mb-1 shadow-2xl;
}
th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding-right: 20px;
}

mat-form-field {
  @apply w-full gt-md:w-[95%];
}

.left {
  @apply w-full;
}

.right {
  @apply w-full;
}

