<div class="space-y-2">
  <div class="flex mt-1 space-x-2">
    <div>
      <span class="primary-heading">Directions</span>
      <span class="para-bold ml-[3px]">from your location to</span>
    </div>
  </div>

  <div>
    <div class="flex xs:flex-col xs:w-full">
      <div class="w-full">
        <form
          #ngForm="ngForm"
          [formGroup]="firstFormGroup"
          (ngSubmit)="onAddressFormSubmit(firstFormGroup)"
        >
          <div class="w-full">
            <mat-form-field
              class="w-[95%] xs:w-full component--mat-form-field__custom-input component--mat-country_input__custom-style select-wrapper"
              appearance="outline"
            >
              <mat-label>Select Country</mat-label>
              <input
                type="text"
                matInput
                #val
                formControlName="country"
                [matAutocomplete]="auto"
              />
              <mat-autocomplete
                #auto="matAutocomplete"
                [displayWith]="displayCountry"
              >
                <mat-option
                  *ngFor="let option of CountryfilteredOptions | async"
                  [value]="option"
                  (click)="initialMarkers = null; setView()"
                  (onSelectionChange)="getval(option)"
                >
                  {{ option.name }}
                </mat-option>
              </mat-autocomplete>

              <mat-error>Please Select a country</mat-error>
            </mat-form-field>
          </div>
        </form>
      </div>
      <div class="w-full xs:mt-3">
        <form [formGroup]="firstFormGroup" (click)="checkcountry()">
          <mat-form-field
            appearance="outline"
            class="w-[95%] xs:w-full component--mat-form-field__custom-input component--mat-country_input__custom-style normal-text-heading"
          >
            <mat-label class="">WOW Camp site</mat-label>
            <mat-select formControlName="city" class="para-bold" required>
              <mat-option
                *ngFor="let city of city_1"
                class="para-bold"
                [value]="city.camp_id"
                (click)="video = null; getNearestlocation(city)"
              >
                {{ city.camp_site_name }}
              </mat-option>
            </mat-select>
            <mat-error>Camp site is required</mat-error>
          </mat-form-field>
        </form>
      </div>
    </div>
  </div>
</div>
<div style="margin-top: 20px">
  <div
    class="map-container"
    leaflet
    [leafletOptions]="options"
    (leafletMapReady)="onMapReady($event)"
    (leafletClick)="mapClicked($event)"
  ></div>
</div>
<div class="p-1" style="margin-top: 300px">
  <div>
    <span class="primary-heading">Information:</span>
  </div>
  <div class="space-y-0 text-justify">
    <form [formGroup]="firstFormGroup">
      <div class="mt-2">
        <ckeditor
          name="myckeditors"
          [config]="ckeConfig"
          formControlName="cdk_editor"
          [readonly]="readonlydata"
        >
        </ckeditor>
      </div>
    </form>
  </div>
</div>
