<ng-container *ngIf="!hidecontent">
  <div class="component--mat-tab__custom-style">
    <mat-tab-group>
      <!-- <mat-tab label="Activity Groups">
        <app-activity-group-updated></app-activity-group-updated>
      </mat-tab>
      <mat-tab label="Delete Activity Group">
        <app-delete-activity-updated></app-delete-activity-updated>
      </mat-tab>

      
      <mat-tab label="Reschedule Trip">
        <div class="space-y-2">
          <app-reschedule-trip-updated></app-reschedule-trip-updated>
        </div>
      </mat-tab> -->
      <!-- <mat-tab label="Schedule Trip"> -->
      <div>
        <!-- <app-schedule-trip-updated></app-schedule-trip-updated> -->
      </div>
      <!-- </mat-tab> -->
      <mat-tab label="Activity Groups">
        <div class="space-y-2">
          <app-activity-groups></app-activity-groups>
        </div>
      </mat-tab>

      <mat-tab label="Schedule Trip">
        <div class="space-y-2">
          <app-schedule-trips></app-schedule-trips>
        </div>
      </mat-tab>
      <!-- <mat-tab label="list participants">
        <div class="space-y-2">
          <app-list-participants></app-list-participants>
        </div>
      </mat-tab> -->
    </mat-tab-group>
  </div>
</ng-container>
